# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# Model Files
*.pkl

# Streamlit Cache
.streamlit/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Generated Data (optional)
data/raw/
data/processed/